apiVersion: v1
kind: ServiceAccount
metadata:
  name: juicefs-s3-gateway
  namespace: {{ default "juicefs" .namespace }}
{{- if .gcpServiceAccountEmail }}
  annotations:
    iam.gke.io/gcp-service-account: {{ .gcpServiceAccountEmail }}
{{- end }}
