apiVersion: v1
kind: Service
metadata:
  name: juicefs-s3-gateway
  namespace: {{ default "juicefs" .namespace }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: juicefs-s3-gateway
  ports:
    - name: http
      port: 9000
      targetPort: 9000
    - name: metrics
      port: 9567
      targetPort: 9567
