apiVersion: v1
kind: ServiceAccount
metadata:
  name: gcp-secret-manager
  namespace: external-secrets
  annotations:
    iam.gke.io/gcp-service-account: {{ .SecretManagerServiceAccountEmail | default .secretManagerServiceAccountEmail | default "" }}
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: gcp-secret-store
  namespace: external-secrets
spec:
  provider:
    gcpsm:
      projectID: {{ .project_id | default .ProjectID | default "" }}
      auth:
        workloadIdentity:
          clusterLocation: us-west1
          clusterName: app
          serviceAccountRef:
            name: gcp-secret-manager
            namespace: external-secrets

