apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
data:
  server.insecure: "{{ if eq .ServerInsecure false }}false{{ else }}true{{ end }}"
  
  # ArgoCD server is served at admin.galxe.com/argocd
  server.basehref: "{{ if .ServerBaseHref }}{{ .ServerBaseHref }}{{ else }}/argocd{{ end }}"
  server.rootpath: "{{ if .ServerRootPath }}{{ .ServerRootPath }}{{ else }}/argocd{{ end }}"
